

<div class="container my-5  mt-5 text-center">
  <button class="btn btn-danger w-100" onclick="getData()">Obter precos</button>

</div>

<div class="container bg-warning">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">BTC</th>
        <th scope="col">USD</th>
        <th scope="col">BRL</th>
      </tr>
    </thead>
    <tbody id="api">
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>